body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
}
ul {
    position: absolute;
    top: 8px;
    left: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li {
    float: left;
}
li a {
    
    font-size: 17pt;
    display: block;
    color: snow;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: whitesmoke;

}
li a:hover {
    color: rgb(21, 21, 54);
}
.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.6em;
    line-height: 80%;
    color: #113;
}
.heading {
    font-size: 58pt;
    position: absolute;
    top: 30%;
    left: 28%;
    transform: translate(-50%, -50%);
    color: snow;
    text-align: center;

}
.image {
    height: auto;
    float: left;
    width: 100%;
    max-width: 100%;
    opacity: 0.85;
    top: 0;
    left: 0;
    right: 0;
    
}
.heading2 {
    position: absolute;
    left: 5%;
    top: 40%;
    font-size: 26pt;
    color: snow; 
}
.subheading1 {
    font-size: 46pt;
    align-self: center;

}